# Ignore everything
*

# But not Java files...
!.gitignore
!*.java

# And CI
!.travis.yml
!build.gradle.kts
!gradlew
!LICENSE
!README.md
!settings.gradle

# Results of load tests
!*.txt
!*.png
!*.yaml

# Some files in Ya-tank folder
Ya-tank/ammo.txt
Ya-tank/data
Ya-tank/load.yaml
Ya-tank/token.txt

# Logs of load tests
Ya-tank/logs/*

# ...even if they are in subdirectories
!*/
